/* carinfo.css */
.car-details h2 {
    color: #1a76d2; /* Azul vibrante */
    border-bottom: 2px solid #1a76d2;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.car-details p {
    font-size: 1.1em;
    line-height: 1.6;
}

.car-details strong {
    color: #d32f2f; /* Rojo para destacar propiedades */
}
