body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

#dynamicForm {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 10px;
}

    .form-group label {
        font-weight: bold;
        min-width: 80px;
    }

    .form-group input, .form-group textarea {
        flex-grow: 1;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

.delete-btn {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
}

    .delete-btn img {
        width: 20px; /* Tamaño del icono */
        height: 20px;
        vertical-align: middle;
    }

.buttons-container button {
    padding: 10px 15px;
    margin-right: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
-