body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

#resultados {
    border: 1px solid #007bff;
    padding: 15px;
    background-color: #eaf6ff;
    white-space: pre-wrap; /* Para respetar saltos de línea del JS */
}
