@{
    ViewData["Title"] = "Página de Inicio";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido al Sistema!</h1>

    <h3>Estudiante: Diego Fernando Jiménez de León</h3>

    <p>Fecha de acceso: <b>@DateTime.Now.ToString("dd/MM/yyyy")</b></p>
</div>